  .todo-container {
    height: 100vh;
    align-items: center;
    display: block;
    background-position: center;
    justify-content: flex-end;
    padding: 100px;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(241, 82, 255, 0.5), rgba(142, 42, 189, 0.5)), url('https://www.shutterstock.com/image-photo/aerial-view-airplane-blue-snow-260nw-1952778829.jpg');
  }

  @media screen and (max-width: 768px) {
    .todo-container {
      background-image: url('https://images.unsplash.com/photo-1682685797365-41f45b562c0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MTV8fG1vdW50YWluc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    }
  }

  @media (max-height: 768px) {
    .todo-container {
      height: 5vh;
    }
  }


  @media (min-height: 600px) {
    .todo-container {
      height: 7vh;
    }
  }

  .Toastify__toast {
    border-radius: 8px;
  }

  .made-with {
    font-size: 12px;
  }

  @media screen and (max-width: 768px) {
    .made-with {
     font-size: 11px;
     color: #a1a1a1;
    }
  }


  .footer {

    align-items: center;
    display: flex;
    justify-content: center;
  }


  .toast-message {
    color: #ffff;
  }

  .todo-box {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
    /* background-image: linear-gradient(to right, rgba(241, 82, 255, 0.5), rgba(142, 42, 189, 0.5)); */
    transform: translate(-50%, -50%);
    height: 500px;
    width: 450px;
  }


  @media screen and (max-width: 768px) {
    .todo-box {
      height: 600px;
      width: 320px;
    }
  }

  .todo-input-row {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .emoji-box {
    top: 15%;
    left: 45%;
    z-index: 99999;
    transform: translate(-45%, 5%);
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    z-index: 9999;
    margin-top: 40px;
    object-fit: contain;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    box-shadow: 0px 5px 10px #afafaf;
  }

  .todo-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .love{
    font-size: 34px;
    margin-right: 10px;
    margin-top: 5px;
    color: #fff;
  }

  .todo-title-row1 {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
  }

  .todo-pop {
    top: -10px;
    left: 0%;
    z-index: 99999;
    transform: translate(-45%, 5%);
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    z-index: 9999;
    margin-top: 40px;
    width: 250px;
    object-fit: contain;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    box-shadow: 0px 5px 10px #afafaf;
  }

  @media screen and (max-width: 768px) {
    .todo-pop {
      top: -10px;
      left: -30%;
      z-index: 99999;
      width: 170px;
      transform: translate(-75%, 5%);
    }
  }

  .pop-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pop-login {
    width: 250px;
    padding: 10px;
    border: none;
    background-color: #00a8a8;
    border-radius: 8px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .pop-login {
      width: 170px;
      padding: 5px;
      font-size: 14px;
    }
  }

  .pop-signup {
    width: 250px;
    padding: 10px;
    border: none;
    background-color: rgb(190, 255, 255);
    border-radius: 8px;
    color: rgb(0, 167, 167);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .pop-signup {
      width: 170px;
      padding: 5px;
      font-size: 14px;
    }
  }

  .pop-logout {
    width: 250px;
    padding: 10px;
    border: none;
    background-color: rgb(255, 158, 158);
    border-radius: 8px;
    color: rgb(201, 0, 0);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .pop-logout {
      width: 170px;
      padding: 5px;
      font-size: 14px;
    }
  }

  .error {
    font-size: 17px;
    color: red;
  }

  .pop-signup:hover {
    background-color: #00a8a8;
    color: #fff;
  }

  .hr-pop {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    text-align: center;
  }

  .pop-title-name {
    font-size: 20px;
    text-transform: uppercase;
  }
  

  @media screen and (max-width: 768px) {
    .pop-title-name {
      font-size: 16px;
    }
  }

  .welcome {
    text-transform: capitalize;
  }

  .pop-sub {
    font-size: 15px;
    color: #686868;
  }

  @media screen and (max-width: 768px) {
    .pop-sub {
      font-size: 14px;
    }
  }

  .account {
    font-size: 33px;
    color: #dbdbdb;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .account:focus {
      outline: none;
    }
  }

  .todo-titele {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    line-height: 1.71;
    letter-spacing: 4.24px;
  }

  .todo-input-item-1 {
    flex: 11;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .todo-input-item-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .todo-input-item-3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .todo-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    line-height: 1.71;
    letter-spacing: 2.24px;
  }

  @media screen and (max-width: 768px) {
    .todo-input {
      font-size: 15px;
      letter-spacing: 1.94px;
    }
  }

  .todo-input::placeholder {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    line-height: 1.71;
    letter-spacing: 2.24px;
  }

  @media screen and (max-width: 768px) {
    .todo-input::placeholder {
      font-size: 17px;
      letter-spacing: 2.14px;
    }
  }

  .send-icon {
    font-size: 30px;
    cursor: pointer;
    color: #868686;
  }

  @media screen and (max-width: 768px) {
    .send-icon {
      font-size: 27px;
    }
  }

  .todo-items-box {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px #afafaf;
  }

  .todo-col {
    flex: 10;
    height: 440px;
    overflow-y: auto;
  }


  .todo-actions {
    flex: 2;
    height: 30px;
    display: flex;
    padding: 0px 10px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

  }

  .action-row {
    display: flex;
  }

  @media screen and (max-width: 768px) {
    .action-row {
     display: none;
    }
  }

  .count {
    margin-left: 10px;
    margin-top: 10px;
    color: #888888;
    font-size: 12px;
    cursor: pointer;
  }

  .todo-add {
    cursor: pointer;
    font-size: 27px;
  }


  .todo-item-container {
    padding: 15px;
    display: flex;
    gap: 10px;

  }

  .todo-item-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .todo-item-center {
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .todo-item-right1 {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    .todo-item-right1 {
     display: none;
    }
  }


  .todo-item-right2 {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 769px) {
    .todo-item-right2 {
      display: none;
    }
  }


  .hr-todo {
    border: none;
    height: 1px;
    background-color: #dbdbdb;
    margin: 4px 20px;
    text-align: center;
  }

  .todo-icon {
    color: #bbbbbb;
    cursor: pointer;
    transform: all ease 2s;
  }
  
  .todo-icon1 {
    color: #bbbbbb;
    cursor: pointer;
    font-size: 27px;
    transform: all ease 2s;
  }

  
  .todo-icon:hover {
    transform: scale(1.07);
  }

  @media screen and (max-width: 768px) {
    .todo-icon1 {
     margin-right: 15px;
    }
  }
  
  .modal-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .modal-title {
    font-family: lato sans-serif;
    font-size: 28px;
    font-weight: 600;
  }

  .add-todo-input {
    width: 300px;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    border: 1px solid #00a8a8;
  }

  @media screen and (max-width: 768px) {
    .add-todo-input {
      width: 200px;
      outline: none;
      border: 1px solid #00a8a8;
    }
  }

  .add-todo-input::placeholder {
    font-size: 16px;
  }

  .add-todo {
    padding: 10px;
    width: 330px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: rgb(0, 180, 180);
  }

  @media screen and (max-width: 768px) {
    .add-todo {
      width: 235px;
    }
  }

  .signup-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .add-name {
    color: #fff;
  }

  .signup {
    height: 350px;
    margin-top: 20px;
    object-fit: cover;
  }

  .signup-left {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    .signup-left {
      display: none;
    }
  }


  .signup-right {
    flex: 6;
    padding: 30px;
  }

  @media screen and (max-width: 768px) {
    .signup-right {
      padding: 30px;
    }
  }

  .signup-col {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  @media screen and (max-width: 768px) {
    .signup-col {
      width: 200px;
    }
  }


  .signup-input {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signup-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .input-signup {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #6C63FF;
    outline: 1px solid #63ffff;
  }

  @media screen and (max-width: 768px) {
    .signup-button {
      font-size: 15px;
    }
  }

  .signup-button {
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: #6C63FF;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    .signup-button {
      font-size: 16px;
    }
  }

  .signup-input-action-name {
    font-size: 14px;
  }

  @media screen and (max-width: 768px) {
    .signup-input-action-name {
      font-size: 11px;
    }
  }

  .error {
    font-size: 16px;
  }

  @media screen and (max-width: 768px) {
    .error {
      font-size: 12px;
    }
  }

  .high {
    cursor: pointer;
    font-weight: 600;
  }